/* temp เส้นโครง*/

/* section,
header,
footer {
  outline: 1px dashed red;
}

.container {
  outline: 1px dashed yellow;
} */

/* global = ใช้โดยทั่วไป */
h1,
body {
  margin: 0;
}

html {
  background: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

body {
  background: lightblue;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.current {
  color: deeppink;
  font-weight: bold;
}

/* header */
header {
  background: skyblue;
  color: whitesmoke;
  min-height: 70px;
  padding-top: 30px;
  border-bottom: 3px solid salmon;
}

header .branding {
  float: left;
}

header nav {
  float: right;
  padding-top: 10px;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: inherit;
}

header a:hover {
  color: #f9de59;
  font-weight: bold;
}

header span {
  color: deeppink;
}

/* show case */
.showcase {
  min-height: 400px;
  background: url("https://picsum.photos/id/2/1500/500/?blur=4") no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.showcase h1 {
  margin-top: 100px;
  font-size: 55px;
}

.showcase p {
  font-size: 20px;
  color: deeppink;
  width: 80%;
  margin: auto;
}

/*newsletter*/
.newsletter {
  padding: 15px;
  background: lightskyblue;
  color: coral;
}

.newsletter h1 {
  float: left;
}

.newsletter form {
  float: right;
}

.newsletter input[type="email"] {
  width: 250px;
  height: 25px;
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.newsletter button {
  height: 35px;
  background-color: coral;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 0 20px;
}

/*box*/
.box1 {
  float: left;
  width: 33%;
  padding: 12px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/*format picture*/
img {
  height: 150px;
}

/*footer*/
footer {
  padding: 20px;
  color: whitesmoke;
  background-color: skyblue;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;  
}

/*ิabout us style*/
.aboutus {
  background-color: #c1c8c7;
  background-size: cover;
  height: 72.25vh;
}

.box2 {
  float: left;
  margin: 50px 0;
  width: 65%;
}

/*side box style*/
.box3 {
  float: right;
  width: 30%;
  background: #f2b9cc;
  margin: 50px 10px;
  padding: 50px 20px;
  box-sizing: border-box;
}

/*ิservice style*/
.box4 {
  float: left;
  width: 92%;
  margin: 0;
  margin: 10px 5px;
  padding: 20px;
  background: #fddca5;
  color: deeppink;
}
